---
layout: default
main_title: SB C&amp;S株式会社とのブラウザ分野における協業開始のお知らせ
sub_title:
type: topic
---

<p>
クリアコードはSB C&amp;S株式会社と、ブラウザソリューションの協業を開始しました。

<p>
IE11サポート終了、マルチブラウザ対応、インターネット分離、Webアプリケーション延命といった企業のブラウザ環境改善に向けたソリューションの提供で連携して参ります。

<p>
詳しくは<a target='_blank' rel='noopener' href='https://cas.softbank.jp/wp-content/uploads/2021/07/210713_01.pdf'>こちら</a>（外部サイト）



