---
layout: default
main_title: オープンソースのログ収集ツール「Fluentd」のサポートサービス提供を開始
sub_title:
type: press
---

<div class="press-release-signature">
  <p class="date">2019年10月29日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、オープンソースのログ収集ツールである「Fluentd」の<a href='/services/fluentd.html'>サポートサービス</a>の提供を開始します。

<h2 id='overview'>Fluentdとは</h2>

<p>
Fluentdとは、トレジャーデータ社により2011年から開発されているオープンソースのログ収集ツールです。
<p>
サーバー間のデータ転送を容易かつ高速に実現することができ、Apache KafkaやElasticsearch、Amazon S3などの主要なサービスをサポートしているためデータ転送の統一的なツールとして多数の企業で導入が進んでいます。
<p>
ソフトウェアの大きな特徴としては、柔軟なプラグインシステムがあり、現在までに500を越えるプラグインがコミュニティベースで開発され、データの入力および出力先を自由に拡張できるようになっています。
<p>
また、2015年からは組み込みや仮想化環境をターゲットに「Fluent Bit」という軽量なログ転送ツールも開発され、IoTやなどの分野にもターゲットが広がり、近年著しいコンテナ化の流れも受け非常に大きな注目を集めるソフトウェアとなっています。

<h2 id='background'>Fluentdに対するクリアコードの取り組み</h2>

<p>
クリアコードは2015年にFluentdの開発元であるトレジャーデータ社の依頼をうけて、Fluentdの開発コミュニティに参加、Fluentd本体ならびにプラグインの開発、サポート、各種ドキュメントの整備などFluentdの普及を目的とした活動を行っています。また、2018年からはFluent Bitの開発にも注力し、トレジャーデータ社主催のFluentdに関する技術イベントにて様々な発表を行っています。

<h2 id='services'>サポートサービスの概要</h2>

<p>
Fluentd/Fluent Bitをエンタープライズ環境において導入/運用されるSIer様、サービス提供事業者様に対して、Fluentd/Fluent Bitのコミュニティでの開発や運用サポートの経験が豊富なエンジニアが直接サービスを提供します。

<p>
<b>導入検討段階 コンサルティングサービス</b>

<ul>
<li>Fluentd/Fluent Bitに関する技術情報の提供
<li>技術者向け勉強会の開催
<li>性能評価の支援
</ul>

<p>
<b>設計・開発段階 エンジニアリングサービス</b>

<ul>
<li>Fluentd/Fluent Bitをつかったシステムの設計支援
<li>Fluentd/Fluent Bitプラグインの機能拡張/新規開発
<li>Fluentd/Fluent Bit本体およびプラグインのソースコードレベルのサポート
</ul>

<p>
<b>運用段階 サポートサービス</b>

<ul>
<li>障害発生時のログ調査、ソースコードレベル調査と回避策やパッチの提供
<li>システムを継続的に改善していくことを目的としたコンサルティングサービスの提供
</ul>

<p>
クリアコードでは、Fluentdサポートサービスの提供にあたりFluentd/Fluent Bitやプラグインに不具合が見つかった場合、問題を回避する一時的な対応だけ取るのではなく、作成したパッチは開発コミュニティに還元します。これにより「特定のユーザのみ問題が回避できる独自パッチをメンテナンスする」のではなく、「すべてのユーザが問題を解消可能なパッチを作成し本体に取り込まれるため、特定のユーザーだけがメンテナンスコストを負担する必要がない」状態にします。

<p>
<b>クリアコードは3年間で100社に本サービスを提供することを目指します。</b>

<h2 id='company'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。全文検索エンジンGroongaやMozilla Firefox/Thunderbirdをはじめとしたフリーソフトウェアのソースコードレベルのサポート、機能拡張、導入支援を行っています。
<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことをビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへコミットし続けていくこと、この両立の実現が当社の目的です。

<h2 id='contact'>当リリースに関するお問合せ先</h2>

<p>
株式会社クリアコード 担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<ul>
<li><a href='/'>https://www.clear-code.com/</a>
<li><a href='https://www.fluentd.org/'>https://www.fluentd.org/</a>
<li><a href='https://fluentbit.io/'>https://fluentbit.io/</a>
</ul>
