---
layout: default
main_title: Firefox ESR78からESR91の変更点をまとめたレポートを公開 
sub_title: 
type: press
keywords: Browser, Firefox, migration report, 移行レポート, ESR91, ClearCode, ブラウザ, ESR 
---

<p class='press-release-subtitle-small'>
法人ユーザにとって影響が予想される変更点を詳しく解説</p>

<div class="press-release-signature">
  <p class="date">2021年8月11日</p>
  <p>株式会社クリアコード
</div>
<p>株式会社クリアコード（本社：埼玉県所沢市、代表取締役：須藤 功平）は、2021年8月10日にリリースされたFirefox ESR91について、Firefox ESR78からの変更点を調査しました。この調査結果から、法人ユーザへの影響が予想される項目について詳細に解説したレポートを公開したことをお知らせします。</p>
<br>
<p><a href='{% link downloads/firefox-esr78-esr91-migration-report.md %}'>資料ダウンロードURL</a></p>
<br>
<br>
<h4>■ 調査レポートの概要</h4>
<p>Firefox ESR91での変更点のうち、特に法人利用への影響が予想されるものは以下の通りです。<br>
• Firefox のUI が刷新されました。<br>
• Adobe Flash サポートが廃止されました。<br>
• FTP サポートが廃止されました。<br>
• 新しいトラッキング抑止技術（スーパークッキー対策・トータルCookie 保護）が導入されました。<br>
<br>
調査レポートでは上記をはじめとした変更点の詳細や、影響範囲を解説しています。</p>
<br>
<h4>■ 調査レポート作成の経緯</h4>
<p>FirefoxにはESR(Extended Support Release)という延長サポート版があります。ESRは長期サポートを必要とする法人ユーザ向けのもので、およそ1年に1回のメジャーバージョンアップと、セキュリティフィックスを目的とした4週間に1度のマイナーアップデートが提供されます。一方、EdgeやChromeといった他のモダンブラウザにおいては、数週間単位での頻繁なメジャーアップデートが提供されるため、メジャーアップデートに追従できないなど、その対応が課題となることがあります。</p>
<p>日本国内では、官公庁、金融、インフラ、製造、情報通信など様々な組織がFirefoxを導入しており、その多くがESRを採用しています。</p>
<p>これら組織においては、年1回のメジャーバージョンアップに合わせて、Firefox本体の変更点の確認や設定の見直しを実施されます。</p>
<p>クリアコードではFirefoxのサポートサービスにおいて、バージョンアップ作業の支援を行っており、Firefox ESR91対応に向けて作成したのがこの資料です。</p>
<br>
<h4> ■クリアコードについて</h4>
<p>クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。</p>
<p>クリアコードでは創業以来Mozilla Firefox / Thunderbirdの導入支援やサポートを行っています。Firefoxの利用目的に合わせた、メモリ使用量削減や、セキュリティを高めるといったカスタマイズ、また設定ファイルやアドオンを一括インストールするためのメタインストーラーの提供など様々な実績をもち、これまでに100社以上のお客様にご利用いただいております。</p>


<h2 id='contact'>当リリースに関するお問い合わせ先</h2>
<p>株式会社クリアコード　担当：南<br>
メール：info@clear-code.com
<br>
<h2 id='links'>参考URL</h2>
<b>【コーポレートサイト】</b>
<a href='{% link index.html %}'>{{ site.url }}{% link index.html %}</a><br>
<b>【本プレスリリース】</b>
<a href='{{ page.url | relative_url }}'>{{ page.url | absolute_url }}</a><br>
<b>【関連サービス】</b></br>
<a href='{% link services/mozilla/menu.html %}'>Firefox/Thunderbirdサポート</a><br>
<a href='{% link services/browserselector.html %}'>BrowserSelector</a><br>
<a href='{% link services/browser-customize.md %}'>ブラウザカスタマイズ</a><br>


