---
layout: default
main_title: プレスリリース
sub_title:
---

<div class='news_list'>
{%- for press in site.data.press %}
<a class='detail_link grid-x grid-padidng-x' href='{{ press.link | relative_url }}'>
  <p class='date cell medium-2'>{{ press.date }}</p>
  <p class='text cell medium-10'>{{ press.content }}</p>
</a>
{%- endfor %}
</div>
